*{
    margin: 0px;
    padding: 0px;
}
.contain{
    width: 750px;
    min-height: 500px;
    margin: 20px auto;
}
.main{
    list-style: none;
}
.list1{
    padding-left: 10px;
    height: 30px;
    font-size: 14px;
    color: green;
    font-weight: 900;
    line-height: 30px;
}
.list2{
    padding: 20px;
    font-size: 14px;
    color: green;
    border: 1px solid green;
}